@use '../../components/buttons' as button;

.hero {
    background-color:var(--color-light);
    height: 100vh;
    display: grid;
    padding: 2rem;
    color: var(--color-light);
  

    &__inner {
        background-color:#000 ; //temp
        display: grid; 
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        'hero-header'
        'hero-main'
        'hero-footer';
        align-items: center;
       position: relative;
        
    }

    &__video { 
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;

        
    }

    &__main {
        grid-area: hero-main;
        padding: var(--gap-m) var(--gap-xl);
        position: relative;
        

    }

    &__footer {
        grid-area: hero-footer;
        display: flex;
        justify-content: space-between;
        padding: o var(--gap-m);
        position: relative;
    }

    &__content {
        max-width: 50rem;
        width: 100%;
       
       
        

    }

    &__prev-link {
       @include button.default;
       opacity: 0.54;
       font-family: var(--font-serif);
       font-size: var(--font-size-1);
        transition: all 0.2s;

        svg path {
            transition: fill 0.2s;
        }

       &:hover {
        opacity: 1;

        svg path {
            fill: var(--color-accent);
        }
       }
       
    }

    &__pagination {
        align-items: center;
        display: flex;
        gap: var(--gap-s);
        flex: 1;


        &::before {
            content: '';
            display: block;
            height: 1px;
            flex: 1;
            background-color: var(--color-light);
            opacity: 0.34;
            margin: 0 8vw;
        }

        .button--next,
        .button--prev {

            #union_1, #union_2 {
                transition: all 0.2s;
            }

            &.hover {
                #union_1, #union_2 {
                    fill: var(--color-accent);
                }
            }
        }
       
    }

    &__social {
     
        position: absolute;
        right: var(--gap-m);
        top: 40%;
        transform: rotate(-90deg) translateX(50%);
        transform-origin: bottom right ;
        display: flex;
        align-items: center;



        &::before, 
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 12vh;
            background-color: var(--color-light);
            opacity: 0.34; 
            margin: 0 var(--gap-l);


        }

    }

    .counter {

        &__total {
            &::before {
              content: '/';
            }
        }
    }
}

.destination {

    &__category {
        font-size: var(--font-size-2);
        margin-bottom: var(--gap-m);
        display: block;
        color: var(--color-dark-700);
    }

    &__title {
        font-size: 5.25rem;
        margin: 0;
       
    }

    &__subtitle {
        font-size: var(--font-size-4);
        font-style: italic;
        font-weight: 300;
        margin: 0;
        color: var(--color-accent);
    }

    &__button {
     @include button.default ($icon-opacity:0.34);
     margin-top: var(--gap-xl);

     svg {
        transition: all 0.2s;
     }
        &:hover {
            svg {
                opacity: 1;
                transform: rotate(90deg);
            }

        }
    
    }
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;

    &__link {
        color: var(--color-light);
    }
}