.site-header {
    position: fixed;
    height: 160px;
    width: 100%;
   
    display: grid;
    padding: 0 var(--gap-xl);


    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    &__branding {
        background-color: pink;
        width: 165px;
        height: 45px;
        display: block;
    }

}