.site-header {
    position: fixed;
    height: 160px;
    width: 100%;
    display: grid;
    padding: 0 var(--gap-xl);
    z-index: 999;
   


    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    &__branding {
       
      
        display: block;
    }

}